body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 0px;
}

#header{
    padding: 20px;
    box-shadow: 5px 10px 18px #888888;
    border-radius: 10px;
    margin-bottom: 80px;
}

#header p{
    text-align: center;
    font-size: large;
    font-weight: bold;
}

#root{
    display: flex;
    justify-content: center;
}

ol, ul {
    padding-left: 30px;
}
